* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

ul,
li {
  list-style-type: none;
}

aside > img {
  position: fixed;
  padding: 0 20px;
  width: 480px;
  min-height: 100%;
  object-fit: cover;
  left: -100px;
  z-index: -1;
  top: 0;
}

.title {
  padding: 5px 30px;
  text-transform: uppercase;
  text-align: right;
  font-size: 3rem;
  position: fixed;
}

/* header */
.nav-menu {
  max-width: 100%;
  height: 120px;
  margin-left: 10%;
  font-weight: 500;
  font-size: 1.1rem;
}

.nav-menu > li {
  margin-left: 2em;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.nav-menu a:hover {
  color: rgb(226, 95, 43);
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: overline;
}

/* form */
h2 {
  font-weight: 900;
  font-size: 2rem;
  margin-bottom: 40px;
}

h3 {
  font-weight: 400;
}

input {
  margin-bottom: 20px;
}

.a-form {
  color: blue;
  font-size: 0.9em;
}

.box {
  min-width: 15vw;
  min-height: 4.5vh;
  background-color: rgb(240, 240, 240);
  color: grey;
  border: none;
}

.adress,
.category {
  min-width: 30vw;
}

.bio {
  min-width: 40vw;
  min-height: 15vh;
  text-align: start;
}

button {
  background-color: white;
  width: 230px;
  height: 50px;
  margin-top: 40px;
  font-weight: 700;
  border-radius: 0 50px 50px 0;
}

#form-join {
  display: flex;
  margin-left: 40%;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

#form-join > .join-register {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.join {
  margin-left: 20px;
}

.form {
  margin-top: 40px;
}
