html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

aside > img {
  position: fixed;
  padding: 0 20px;
  width: 480px;
  min-height: 100%;
  object-fit: cover;
  left: -140px;
  z-index: -1;
}

.title {
  padding: 30px;
  text-transform: uppercase;
  text-align: right;
  font-size: 3rem;
  position: fixed;
  font-weight: 900;
}

/* header and nav menus */

header {
  /* width: 76.5%; */
  height: 17vh;
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
}

.toggleMenuContainer {
  display: none;
}

a {
  text-decoration: none;
  color: black;
}

.nav-menu a:hover {
  color: rgb(226, 95, 43);
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: overline;
}

.nav-menu {
  margin-left: 400px;
  font-weight: 500;
  font-size: 1.2rem;
}

.nav-menu,
.nav-profile {
  display: flex;
  text-transform: uppercase;
}

.nav-menu > li,
.nav-profile > li {
  margin: 0 20px;
}

.nav-profile {
  width: 100%;
}

.nav-mobile {
  display: none;
}

ul {
  list-style-type: none;
}

.main-container {
  margin-left: 390px;
}

.row-of-artists {
  margin: 0px;
  width: 100%;
  height: 150px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}

.artists {
  width: 100px;
  height: 100px;
  border-radius: 10%;
  display: flex;
  /* align-items: flex-start;
  justify-content: space-evenly; */
  margin: 20px 5px;
  transition: 1s;
}

.artists:hover {
  transform: scale(1.1);
}

.grid-of-products {
  width: 100%;
  height: 80em;
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-template-rows: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-rows: 300px;
  gap: 30px;
}

.grid-column-span2 {
  grid-column: span 2;
}

.grid-row-span2 {
  grid-row: span 2;
}

.product-wraper {
  border-radius: 5%;
  transition: 2s;
}

.product-wraper:hover {
  transform: scale(1.1);
}

@media (min-width: 1800px) {
  .products {
    grid-column: span 2;
    grid-row: span 2.5;
  }
}

@media (max-width: 1500px) {
  .grid-of-products {
    height: 200vh;
  }
  .grid-column-span2 {
    grid-column: span 1;
  }

  .grid-row-span2 {
    grid-row: span 1;
  }
  .products {
    grid-column: span 1.5;
    grid-row: span 1.5;
  }
}

span {
  margin-top: 110px;
  text-align: center;
  width: 100%;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.8rem;
}

/* Mobile */

@media (max-width: 1050px) {
  aside {
    display: none;
  }

  header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 130px;
    z-index: 2;
    top: 0;
    position: fixed;
    background-color: white;
    display: grid;
    grid-template-columns: 1% 1fr;
    /* grid-template-rows: 100px 80px; */
    grid-template-rows: 50px 80px;
    grid-template-areas:
      "toggle title"
      "menuMobile menuMobile";
    align-items: start;
  }

  .toggleMenuContainer {
    /* display: inline;
    position: absolute; */
    display: grid;
    /* z-index: 3; */
    margin: 10px 0 0 20px;
    grid-area: toggle;
    padding-top: 10px;
  }

  .menuBurguer {
    margin: 11px;
    color: black;
  }

  .menuBurguerClosed {
    display: none;
  }

  .navBurguerMenu {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-top: 20px;
  }

  .title {
    height: 20px;
    font-size: 1.5rem;
    position: relative;
    position: initial;
    display: grid;
    grid-area: title;
    grid-column: span 2;
    justify-self: center;
    align-items: start;
    margin: -10px;
    font-weight: 800;
    letter-spacing: 0.1em;
  }

  .nav-mobile {
    display: grid;
    text-align: center;
    grid-area: menuMobile;
    justify-content: center;
    margin-top: 35px;
    margin-right: 3.5em;
  }

  a:hover {
    color: black;
    text-decoration: none;
  }

  .nav-mobile-container {
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
  }

  .nav-mobile-container > li {
    margin: auto 25px;
    font-weight: 600;
  }

  .main-container {
    margin: 0 10px;
  }

  .nav-menu {
    display: none;
  }

  .nav-profile {
    display: none;
  }

  .products {
    grid-column: span 1;
    grid-row: span 1.5;
  }

  .row-of-artists {
    display: none;
  }

  .grid-of-products {
    padding-top: 100px;
    height: 130vh;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 300px;
  }

  .grid-column-span2 {
    grid-column: span 2.5;
  }

  .grid-row-span2 {
    grid-row: span 2;
  }

  .product-wraper:hover {
    transform: scale(1);
  }

  @media (max-width: 1050px) {
    .grid-of-products {
      min-height: 170vh;
    }
  }

  @media (max-width: 900px) {
    .grid-of-products {
      min-height: 170vh;
    }
  }

  @media (max-width: 700px) {
    .grid-of-products {
      min-height: 750vh;
    }
    .products {
      grid-column: span 2;
      grid-row: span 1.5  ;
    }
  }
}
