* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: black;
}

ul,
li {
  list-style-type: none;
}

aside > img {
  position: fixed;
  padding: 0 20px;
  width: 480px;
  min-height: 100%;
  object-fit: cover;
  left: -100px;
  z-index: -1;
  top: 0;
}

.title {
  padding: 5px 30px;
  text-transform: uppercase;
  text-align: right;
  font-size: 3rem;
  position: fixed;
  font-weight: 900;
}

/* header */
.nav-menu {
  max-width: 100%;
  height: 120px;
  margin-left: 10%;
  font-weight: 500;
  font-size: 1rem;
}

.nav-menu > li {
  margin-left: 2em;
}

.nav-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
}

.nav-menu a:hover {
  color: rgb(226, 95, 43);
  font-weight: 800;
  font-size: 1.2rem;
  text-decoration: overline;
}
